@using Haskap.ToDoList.Application.UseCaseServices.Dtos
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Envelope<IEnumerable<ToDoItemOutputDto>>

@{
}

<!-- TO DO List -->
<div class="card">
    <div class="card-header">
        <h3 class="card-title">
            <i class="ion ion-clipboard mr-1"></i>
            To Do Items
        </h3>

        <div class="card-tools">
            <ul class="pagination pagination-sm">
                <li class="page-item"><a href="#" class="page-link">&laquo;</a></li>
                <li class="page-item"><a href="#" class="page-link">1</a></li>
                <li class="page-item"><a href="#" class="page-link">2</a></li>
                <li class="page-item"><a href="#" class="page-link">3</a></li>
                <li class="page-item"><a href="#" class="page-link">&raquo;</a></li>
            </ul>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <ul class="todo-list" data-widget="todo-list">
            @foreach (var toDoItemOutputDto in Model.Result)
            {
                <li>
                    <!-- drag handle -->
                    @*<span class="handle">
                        <i class="fas fa-ellipsis-v"></i>
                        <i class="fas fa-ellipsis-v"></i>
                        </span>*@
                    <!-- checkbox -->
                    <div class="icheck-primary d-inline ml-2">
                        <input type="checkbox" value="" name="@toDoItemOutputDto.Id" id="@toDoItemOutputDto.Id" data-to-do-item-id="@toDoItemOutputDto.Id" @Html.Raw(toDoItemOutputDto.IsCompleted ? "selected" : "")>
                        <label for="@toDoItemOutputDto.Id"></label>
                    </div>
                    <!-- todo text -->
                    <span class="text">@toDoItemOutputDto.Content</span>
                    <!-- Emphasis label -->
                    <small class="badge badge-danger"><i class="far fa-clock"></i> 2 mins</small>
                    <!-- General tools such as edit or delete-->
                    <div class="tools">
                        <i class="fas fa-edit"></i>
                        <i class="fas fa-trash-o"></i>
                    </div>
                </li>
            }
        </ul>
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
        <button type="button" class="btn btn-primary float-right"><i class="fas fa-plus"></i> Add item</button>
    </div>
</div>
<!-- /.card -->
@section Scripts{
<script>
        @if(Model?.HasError == true)
        {
            <text>
            $(document).ready(function(){
                Swal.fire(
                    'Hata',
                    '@Model.ExceptionMessage <br/> @Model.ExceptionStackTrace',
                    'error'
                );
            });
            </text>
        }

    $('input[type=checkbox]').change(function(){
        var toDoItemId = $(this).data('toDoItemId');
        var isCompleted = $(this).is(':checked');
        if(isCompleted){
            $.ajax({
                url: '/MarkAsCompleted/' + toDoItemId,
                type: 'PUT',
                data: { ownerToDoListId: @ViewBag.OwnerToDoListId }
            });
        }else{
            $.ajax({
                url: '/MarkAsNotCompleted/' + toDoItemId,
                type: 'PUT',
                data: { ownerToDoListId: @ViewBag.OwnerToDoListId }
            });
        }
    }
</script>
}

